/* Reset some default browser styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: none;
}


body {
  font-family: Arial, sans-serif;
  background-color: #E8E8E8;
  width: 100vw;
  overflow-x: hidden;
  /* color: whitesmoke; */
  cursor: none;
  /* scroll-behavior: smooth; */
}


/* ---Cursor--- */

.cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  /* background-color: #111; */
  background-image: url("resources/cursor.png");
  background-position: center;
  background-size: contain;
  /* border-radius: 50%; */
  /* transform: translate(-50%, -50%); */
  pointer-events: none;
  z-index: 1000;
  /* mix-blend-mode: difference; */
}


/* Arrow */

.up-arrow {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  width: 50px;
  height: 50px;
  background-image: url("resources/up-arrow1.png");
  background-size: contain;
}


/* Bubble */

.bubble {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 1px;
  height: 1px;
  font-size: 1px;
  z-index: 998;
  background-image: url("resources/bubble.png");
  /* background-color: red; */
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 4px;
  opacity: 0;
}


/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  background-color: #2b2b2bc7;
  /* background-color: #E8E8E8; */
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

/* Icon style */
.icon {
  font-size: 1.2rem;
  color: #ffffff;
  /* color: #111; */
  margin-right: 15px;
  /* object-fit: contain; */
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 1px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #d1d1d1;
  /* color: #111; */
  /* Gray text color */
  padding: 7px 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* Active and hover styles */
.nav-links a.active {
  background-color: #3b83f669;
  color: #3B82F6;
  /* Black text for active */
  font-weight: bold;
}

.nav-links a:hover {
  color: #ffffff;
}

.logo {
  width: 25px;

}


/* Page-1 */

.page1 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("resources/gray-white.jpg");
  background-size: contain;
  background-position: center;
}

@media (min-width: 768px) {
  .page1 {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Left Content */
.content-left {
  text-align: center;
  /* background-color: red; */
}

@media (min-width: 768px) {
  .content-left {
    text-align: left;
    width: 50%;
    padding: 20px 80px;
    /* margin: 10px; */
  }
}

.content-left h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2d3748;
}

@media (min-width: 768px) {
  .content-left h1 {
    font-size: 3rem;
  }
}

.highlight {
  color: #3b82f6;
  /* color: #111; */
  filter: drop-shadow(-1px 2px 1px #22222275);
  font-size: 8rem;
}

.highlight .shamoon,
.highlight .abdullah {
  display: inline-block;
}

.subheading {
  font-size: 1.5rem;
  color: #718096;
  margin-top: 10px;
  font-weight: bold;
  padding-left: 12px;
}


/* Right Content */
.content-right {
  margin-top: 10px;
  /* background-color: green; */
}

@media (min-width: 768px) {
  .content-right {
    margin-top: 0;
    /* margin-left: 40px; */
  }
}

.profile-img {
  width: 28vw;
  height: 45vw;
  /* border-radius: 50%; */
  /* filter: grayscale(100%); */
  object-fit: cover;
  object-position: top center;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  /* filter: drop-shadow(-2px 2px 1px #22222228); */
}




/* ----page2 code---- */




.page2 {
  /* background-color: #222; */
  color: #fff;
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* padding: 4.5vh 4.2vw; */
}

.page2 h1 {
  /* text-align: center; */
  font-size: 3vmax;
  font-family: gilroy;
  margin-top: 1max;
  margin-bottom: 3.5vmax;
  padding-left: 5vw;
}

.page2 h1 span {
  color: #13BAF1;
  font-family: gilroy;
}

#artworks{
  /* padding-left: 4vw; */
  width: 90%;
  margin: auto;
}

#artworks a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 72px;
  border-top: 2px solid #fff;
  padding: 0 3px;
  color: #fff;
}

#artworks a:nth-last-child(1) {
  border-bottom: 2px solid #fff;
  margin-bottom: 5vmax;
}

#artworks a h4 {
  font-size: 1.7vmax;
  position: relative;
  z-index: 99;
  transition: color ease-in 0.4s;
  width: 12%;
}

#artworks a h5 {
  font-size: 1.8vmax;
  font-weight: 600;
  font-family: gilroy;
  width: 30%;
  position: relative;
  transition: color ease-in 0.4s;
  z-index: 99;
}

#artworks a h6 {
  font-size: 1.6vmax;
  width: 30%;
  text-align: right;
  position: relative;
  z-index: 99;
  transition: color ease-in 0.4s;
}

#sliding-div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 9;
  width: 0%;
  transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
  background-color: #fff;
}


#artworks a:hover #sliding-div {
  width: 100%;
}

#artworks a:hover h4 {
  color: #222;
}

#artworks a:hover h5 {
  color: #222;
}

#artworks a:hover h6 {
  color: #222;
}




/* ----page2 responsive---- */



@media (max-width:600px) {
  .page2 {
      /* background-color: #222; */
      min-height: 100vh;
      width: 100%;
      position: relative;
      padding: 4.5vh 4.7vw;
  }

  .page2 h1 {
      /* text-align: center; */
      font-size: 4vmax;
      font-family: gilroy;
      margin-top: 0vmax;
      margin-bottom: 5vmax;
  }

  .page2 h1 span {
      color: #F6BA53;
      font-family: gilroy;
  }

  #artworks a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: relative;
      height: 70px;
      border-top: 2px solid #fff;
      padding: 0 2px;
  }

  #artworks a:nth-last-child(1) {
      border-bottom: 2px solid #fff;
      margin-bottom: 5vmax;
  }

  #artworks a h4 {
      font-size: 2.3vmax;
      position: relative;
      z-index: 99;
      transition: color ease-in 0.4s;
      width: 18%;
      /* background-color: red; */
  }

  #artworks a h5 {
      font-size: 2vmax;
      font-weight: 600;
      font-family: gilroy;
      width: 33%;
      /* background-color: red; */
      position: relative;
      transition: color ease-in 0.4s;
      z-index: 99;
  }

  #artworks a h6 {
      font-size: 1.9vmax;
      width: 29%;
      text-align: right;
      /* background-color: red; */
      position: relative;
      z-index: 99;
      font-family: gilroy;
      transition: color ease-in 0.4s;
  }

  #sliding-div {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 9;
      width: 0%;
      transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
      background-color: #fff;
  }


  #artworks a:hover #sliding-div {
      width: 100%;
  }

  #artworks a:hover h4 {
      color: #222;
  }

  #artworks a:hover h5 {
      color: #222;
  }

  #artworks a:hover h6 {
      color: #222;
  }

}


/* ----Page 3----  */


.page3{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #111;
  font-family:'sans-serif';
  position: relative;
  /* background-color: pink; */
}


.page3 h2{
  font-size: 5rem;
  padding: rem;
  margin: 3rem;
  /* background-color: yellow; */
}

.page3-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.p3left{
  width: 31%;
  padding: 2rem;
  font-size: 2.5rem;
  /* background-color: red; */
}

.p3left span{
  display: inline-block;
}

.p3right{
  width: 30%;
  padding: 0 4rem;
  margin-right: 20px;
  /* background-color: green; */
}

.p3right p{
  font-size: 1.2rem;
}

.p3right .buttons{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p3right .buttons img{
  height: 50px;
  /* cursor: pointer; */
}



/* ------Page 4----- */



.page4{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #111; */
  color: #111;
  position: relative;
  padding: 0rem 3rem;
}


.page4 .head{
  display: flex;
  flex-direction: column;
  background-color: #E8E8E8;
  /* background-color: #111; */
  top: 10px;
  z-index: 5;
  margin-bottom: 4rem;
  /* position: sticky; */
}

.page4 .head h2{
  font-size: 1.2rem;
  /* margin-bottom: 1rem; */
  letter-spacing: 2px;

  /* background-color: yellow; */
}

.page4 .head h1{
  font-size: 3rem;
  /* background-color: green; */
}

.page4 .head h1 span{
  color: rgb(19, 186, 241);
}

.frontend{
  background-color: #E8E8E8;
  /* background-color: #111; */
  z-index: 4;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  top: 50px;
}

.frontend h3{
  /* z-index: 1; */
  margin-bottom: 1rem;
}

.frontend-skills{
  display: flex;
  gap: 60px;
}

.backend{
  background-color: #E8E8E8;
  /* background-color: #111; */
  z-index: 3;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  top: 150px;
}

.backend h3{
  /* z-index: 1; */
  margin-bottom: 1rem;
}

.backend-skills{
  display: flex;
  gap: 60px;
}

.languages{
  background-color: #E8E8E8;
  /* background-color: #111; */
  z-index: 2;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  top: 250px;
}

.languages h3{
  /* z-index: 1; */
  margin-bottom: 1rem;
}

.languages-skills{
  display: flex;
  gap: 60px;
}


.other{
  background-color: #E8E8E8;
  /* background-color: #111; */
  z-index: 1;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  top: 350px;
}

.other h3{
  /* z-index: 1; */
  margin-bottom: 1rem;
}

.other-skills{
  display: flex;
  gap: 60px;
}

.sticky{
  position: sticky;
}

.empty{
  height: 70vh;
}


/*------ Page 5 ---- */



.page5{
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  /* color: #111; */
  /* position: relative; */
  padding: 0rem 3rem;
  color: white;
  /* line-height: 0%; */
}

.page5 h1{
  font-size: 2.8rem;
  padding: 3rem 0;
  line-height: 0%;
}

.page5 h2{
  font-size: 1.7rem;
  padding: 0rem 4rem;
  line-height: 0%;
}

.page5 h2 span{
  color: #13BAF1;
}

.p5-projects{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

.line1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  position: relative;
}

.line1 .proj-1 img , .line1 .proj-2 img , .line2 .proj-3 img{
  width: 30vw;
  border-radius: 10px;
}

.proj-3 img{
  margin-left: 16px;
}

.line2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  position: relative;
}


.absolute{
  position: absolute;
  width: 1vw;
  opacity: 0;
}

.proj-12, .proj-13, .proj-14{
  left: 33vw;
  top: 6vw;
  z-index: 2;
}

.proj-22{
  right: 33vw;
  top: 7vw;
}

.proj-32{
  left: 46vw;
  top: 1vw;

}



/* -----Page 6 -----  */


.page6{
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  padding: 3rem 3rem;
  color: white;

}

.page6 h1{
  font-size: 1.3rem;
}

.page6 h1 span{
  color: #13BAF1;
  font-size: 2.8rem;
}






/* -----Scatter Button Code ----- */




:root {
  --grey: #58C2F9;
  --spot: #ffffff;
  --parts-columns: 5;
  --parts-radius: 0%;
  --animation-speed: 1s;
}
.particles {
  position: relative;
  transition: all var(--animation-speed);
}
.particles__content {
  position: relative;
  z-index: 2;
}
.particles__parts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / var(--parts-columns)), auto));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all var(--animation-speed);
  pointer-events: none;
}
.particles__parts > * {
  transition: all var(--animation-speed) cubic-bezier(0.57, 0.55, 0.31, 1);
  background: var(--grey);
}
.particles:hover {
  scale: 1.5;
}
.particles:hover .particles__parts > * {
  border-radius: var(--parts-radius);
}
.particles:hover .particles__parts > *:nth-child(0) {
  scale: 0.2;
  rotate: 364deg;
  transform: skew(19deg);
  filter: blur(1.5px);
  translate: -168% -168%;
}
.particles:hover .particles__parts > *:nth-child(0):nth-child(2n + 2) {
  translate: 168% -168%;
}
.particles:hover .particles__parts > *:nth-child(0):nth-child(3n + 3) {
  translate: -168% 168%;
}
.particles:hover .particles__parts > *:nth-child(0):nth-child(4n + 4) {
  translate: 168% 168%;
}
.particles:hover .particles__parts > *:nth-child(1) {
  scale: 0.3;
  rotate: 0deg;
  transform: skew(59deg);
  filter: blur(1px);
  translate: -736% -736%;
}
.particles:hover .particles__parts > *:nth-child(1):nth-child(2n + 2) {
  translate: 736% -736%;
}
.particles:hover .particles__parts > *:nth-child(1):nth-child(3n + 3) {
  translate: -736% 736%;
}
.particles:hover .particles__parts > *:nth-child(1):nth-child(4n + 4) {
  translate: 736% 736%;
}
.particles:hover .particles__parts > *:nth-child(2) {
  scale: 0.4;
  rotate: 96deg;
  transform: skew(31deg);
  filter: blur(1.5px);
  translate: -771% -771%;
}
.particles:hover .particles__parts > *:nth-child(2):nth-child(2n + 2) {
  translate: 771% -771%;
}
.particles:hover .particles__parts > *:nth-child(2):nth-child(3n + 3) {
  translate: -771% 771%;
}
.particles:hover .particles__parts > *:nth-child(2):nth-child(4n + 4) {
  translate: 771% 771%;
}
.particles:hover .particles__parts > *:nth-child(3) {
  scale: 0.9;
  rotate: 0deg;
  transform: skew(41deg);
  filter: blur(0.5px);
  translate: -136% -136%;
}
.particles:hover .particles__parts > *:nth-child(3):nth-child(2n + 2) {
  translate: 136% -136%;
}
.particles:hover .particles__parts > *:nth-child(3):nth-child(3n + 3) {
  translate: -136% 136%;
}
.particles:hover .particles__parts > *:nth-child(3):nth-child(4n + 4) {
  translate: 136% 136%;
}
.particles:hover .particles__parts > *:nth-child(4) {
  scale: 1;
  rotate: 0deg;
  transform: skew(24deg);
  filter: blur(1.5px);
  translate: -854% -854%;
}
.particles:hover .particles__parts > *:nth-child(4):nth-child(2n + 2) {
  translate: 854% -854%;
}
.particles:hover .particles__parts > *:nth-child(4):nth-child(3n + 3) {
  translate: -854% 854%;
}
.particles:hover .particles__parts > *:nth-child(4):nth-child(4n + 4) {
  translate: 854% 854%;
}
.particles:hover .particles__parts > *:nth-child(5) {
  scale: 0.4;
  rotate: 307deg;
  transform: skew(40deg);
  filter: blur(0.5px);
  translate: -865% -865%;
}
.particles:hover .particles__parts > *:nth-child(5):nth-child(2n + 2) {
  translate: 865% -865%;
}
.particles:hover .particles__parts > *:nth-child(5):nth-child(3n + 3) {
  translate: -865% 865%;
}
.particles:hover .particles__parts > *:nth-child(5):nth-child(4n + 4) {
  translate: 865% 865%;
}
.particles:hover .particles__parts > *:nth-child(6) {
  scale: 0.5;
  rotate: 142deg;
  transform: skew(38deg);
  filter: blur(1px);
  translate: -432% -432%;
}
.particles:hover .particles__parts > *:nth-child(6):nth-child(2n + 2) {
  translate: 432% -432%;
}
.particles:hover .particles__parts > *:nth-child(6):nth-child(3n + 3) {
  translate: -432% 432%;
}
.particles:hover .particles__parts > *:nth-child(6):nth-child(4n + 4) {
  translate: 432% 432%;
}
.particles:hover .particles__parts > *:nth-child(7) {
  scale: 0.3;
  rotate: -353deg;
  transform: skew(70deg);
  filter: blur(0.5px);
  translate: -1000% -1000%;
}
.particles:hover .particles__parts > *:nth-child(7):nth-child(2n + 2) {
  translate: 1000% -1000%;
}
.particles:hover .particles__parts > *:nth-child(7):nth-child(3n + 3) {
  translate: -1000% 1000%;
}
.particles:hover .particles__parts > *:nth-child(7):nth-child(4n + 4) {
  translate: 1000% 1000%;
}
.particles:hover .particles__parts > *:nth-child(8) {
  scale: 0.7;
  rotate: 86deg;
  transform: skew(60deg);
  filter: blur(1.5px);
  translate: -680% -680%;
}
.particles:hover .particles__parts > *:nth-child(8):nth-child(2n + 2) {
  translate: 680% -680%;
}
.particles:hover .particles__parts > *:nth-child(8):nth-child(3n + 3) {
  translate: -680% 680%;
}
.particles:hover .particles__parts > *:nth-child(8):nth-child(4n + 4) {
  translate: 680% 680%;
}
.particles:hover .particles__parts > *:nth-child(9) {
  scale: 0.2;
  rotate: 291deg;
  transform: skew(69deg);
  filter: blur(0.5px);
  translate: -1032% -1032%;
}
.particles:hover .particles__parts > *:nth-child(9):nth-child(2n + 2) {
  translate: 1032% -1032%;
}
.particles:hover .particles__parts > *:nth-child(9):nth-child(3n + 3) {
  translate: -1032% 1032%;
}
.particles:hover .particles__parts > *:nth-child(9):nth-child(4n + 4) {
  translate: 1032% 1032%;
}
.particles:hover .particles__parts > *:nth-child(10) {
  scale: 0.7;
  rotate: 146deg;
  transform: skew(22deg);
  filter: blur(1.5px);
  translate: -1090% -1090%;
}
.particles:hover .particles__parts > *:nth-child(10):nth-child(2n + 2) {
  translate: 1090% -1090%;
}
.particles:hover .particles__parts > *:nth-child(10):nth-child(3n + 3) {
  translate: -1090% 1090%;
}
.particles:hover .particles__parts > *:nth-child(10):nth-child(4n + 4) {
  translate: 1090% 1090%;
}
.particles:hover .particles__parts > *:nth-child(11) {
  scale: 0.8;
  rotate: 276deg;
  transform: skew(28deg);
  filter: blur(1px);
  translate: -688% -688%;
}
.particles:hover .particles__parts > *:nth-child(11):nth-child(2n + 2) {
  translate: 688% -688%;
}
.particles:hover .particles__parts > *:nth-child(11):nth-child(3n + 3) {
  translate: -688% 688%;
}
.particles:hover .particles__parts > *:nth-child(11):nth-child(4n + 4) {
  translate: 688% 688%;
}
.particles:hover .particles__parts > *:nth-child(12) {
  scale: 0.4;
  rotate: 284deg;
  transform: skew(68deg);
  filter: blur(1px);
  translate: -163% -163%;
}
.particles:hover .particles__parts > *:nth-child(12):nth-child(2n + 2) {
  translate: 163% -163%;
}
.particles:hover .particles__parts > *:nth-child(12):nth-child(3n + 3) {
  translate: -163% 163%;
}
.particles:hover .particles__parts > *:nth-child(12):nth-child(4n + 4) {
  translate: 163% 163%;
}
.particles:hover .particles__parts > *:nth-child(13) {
  scale: 0.5;
  rotate: 362deg;
  transform: skew(63deg);
  filter: blur(1px);
  translate: -336% -336%;
}
.particles:hover .particles__parts > *:nth-child(13):nth-child(2n + 2) {
  translate: 336% -336%;
}
.particles:hover .particles__parts > *:nth-child(13):nth-child(3n + 3) {
  translate: -336% 336%;
}
.particles:hover .particles__parts > *:nth-child(13):nth-child(4n + 4) {
  translate: 336% 336%;
}
.particles:hover .particles__parts > *:nth-child(14) {
  scale: 0.5;
  rotate: -126deg;
  transform: skew(54deg);
  filter: blur(0.5px);
  translate: -175% -175%;
}
.particles:hover .particles__parts > *:nth-child(14):nth-child(2n + 2) {
  translate: 175% -175%;
}
.particles:hover .particles__parts > *:nth-child(14):nth-child(3n + 3) {
  translate: -175% 175%;
}
.particles:hover .particles__parts > *:nth-child(14):nth-child(4n + 4) {
  translate: 175% 175%;
}
.particles:hover .particles__parts > *:nth-child(15) {
  scale: 0.5;
  rotate: 0deg;
  transform: skew(32deg);
  filter: blur(1px);
  translate: -103% -103%;
}
.particles:hover .particles__parts > *:nth-child(15):nth-child(2n + 2) {
  translate: 103% -103%;
}
.particles:hover .particles__parts > *:nth-child(15):nth-child(3n + 3) {
  translate: -103% 103%;
}
.particles:hover .particles__parts > *:nth-child(15):nth-child(4n + 4) {
  translate: 103% 103%;
}
.particles:hover .particles__parts > *:nth-child(16) {
  scale: 1;
  rotate: 145deg;
  transform: skew(34deg);
  filter: blur(1px);
  translate: -411% -411%;
}
.particles:hover .particles__parts > *:nth-child(16):nth-child(2n + 2) {
  translate: 411% -411%;
}
.particles:hover .particles__parts > *:nth-child(16):nth-child(3n + 3) {
  translate: -411% 411%;
}
.particles:hover .particles__parts > *:nth-child(16):nth-child(4n + 4) {
  translate: 411% 411%;
}
.particles:hover .particles__parts > *:nth-child(17) {
  scale: 0.7;
  rotate: 127deg;
  transform: skew(39deg);
  filter: blur(1.5px);
  translate: -977% -977%;
}
.particles:hover .particles__parts > *:nth-child(17):nth-child(2n + 2) {
  translate: 977% -977%;
}
.particles:hover .particles__parts > *:nth-child(17):nth-child(3n + 3) {
  translate: -977% 977%;
}
.particles:hover .particles__parts > *:nth-child(17):nth-child(4n + 4) {
  translate: 977% 977%;
}
.particles:hover .particles__parts > *:nth-child(18) {
  scale: 0.5;
  rotate: 382deg;
  transform: skew(57deg);
  filter: blur(1.5px);
  translate: -1065% -1065%;
}
.particles:hover .particles__parts > *:nth-child(18):nth-child(2n + 2) {
  translate: 1065% -1065%;
}
.particles:hover .particles__parts > *:nth-child(18):nth-child(3n + 3) {
  translate: -1065% 1065%;
}
.particles:hover .particles__parts > *:nth-child(18):nth-child(4n + 4) {
  translate: 1065% 1065%;
}
.particles:hover .particles__parts > *:nth-child(19) {
  scale: 0.7;
  rotate: 0deg;
  transform: skew(63deg);
  filter: blur(1px);
  translate: -367% -367%;
}
.particles:hover .particles__parts > *:nth-child(19):nth-child(2n + 2) {
  translate: 367% -367%;
}
.particles:hover .particles__parts > *:nth-child(19):nth-child(3n + 3) {
  translate: -367% 367%;
}
.particles:hover .particles__parts > *:nth-child(19):nth-child(4n + 4) {
  translate: 367% 367%;
}
.particles:hover .particles__parts > *:nth-child(20) {
  scale: 0.4;
  rotate: 358deg;
  transform: skew(63deg);
  filter: blur(1.5px);
  translate: -871% -871%;
}
.particles:hover .particles__parts > *:nth-child(20):nth-child(2n + 2) {
  translate: 871% -871%;
}
.particles:hover .particles__parts > *:nth-child(20):nth-child(3n + 3) {
  translate: -871% 871%;
}
.particles:hover .particles__parts > *:nth-child(20):nth-child(4n + 4) {
  translate: 871% 871%;
}
.particles:hover .particles__parts > *:nth-child(21) {
  scale: 1;
  rotate: 0deg;
  transform: skew(70deg);
  filter: blur(1px);
  translate: -1014% -1014%;
}
.particles:hover .particles__parts > *:nth-child(21):nth-child(2n + 2) {
  translate: 1014% -1014%;
}
.particles:hover .particles__parts > *:nth-child(21):nth-child(3n + 3) {
  translate: -1014% 1014%;
}
.particles:hover .particles__parts > *:nth-child(21):nth-child(4n + 4) {
  translate: 1014% 1014%;
}
.particles:hover .particles__parts > *:nth-child(22) {
  scale: 0.8;
  rotate: 0deg;
  transform: skew(29deg);
  filter: blur(1.5px);
  translate: -275% -275%;
}
.particles:hover .particles__parts > *:nth-child(22):nth-child(2n + 2) {
  translate: 275% -275%;
}
.particles:hover .particles__parts > *:nth-child(22):nth-child(3n + 3) {
  translate: -275% 275%;
}
.particles:hover .particles__parts > *:nth-child(22):nth-child(4n + 4) {
  translate: 275% 275%;
}
.particles:hover .particles__parts > *:nth-child(23) {
  scale: 0.6;
  rotate: 0deg;
  transform: skew(43deg);
  filter: blur(0.5px);
  translate: -482% -482%;
}
.particles:hover .particles__parts > *:nth-child(23):nth-child(2n + 2) {
  translate: 482% -482%;
}
.particles:hover .particles__parts > *:nth-child(23):nth-child(3n + 3) {
  translate: -482% 482%;
}
.particles:hover .particles__parts > *:nth-child(23):nth-child(4n + 4) {
  translate: 482% 482%;
}
.particles:hover .particles__parts > *:nth-child(24) {
  scale: 0.3;
  rotate: -241deg;
  transform: skew(12deg);
  filter: blur(1.5px);
  translate: -140% -140%;
}
.particles:hover .particles__parts > *:nth-child(24):nth-child(2n + 2) {
  translate: 140% -140%;
}
.particles:hover .particles__parts > *:nth-child(24):nth-child(3n + 3) {
  translate: -140% 140%;
}
.particles:hover .particles__parts > *:nth-child(24):nth-child(4n + 4) {
  translate: 140% 140%;
}
.particles:hover .particles__parts > *:nth-child(25) {
  scale: 0.7;
  rotate: -362deg;
  transform: skew(49deg);
  filter: blur(1px);
  translate: -717% -717%;
}
.particles:hover .particles__parts > *:nth-child(25):nth-child(2n + 2) {
  translate: 717% -717%;
}
.particles:hover .particles__parts > *:nth-child(25):nth-child(3n + 3) {
  translate: -717% 717%;
}
.particles:hover .particles__parts > *:nth-child(25):nth-child(4n + 4) {
  translate: 717% 717%;
}
.particles:hover .particles__parts > *:nth-child(26) {
  scale: 0.8;
  rotate: 0deg;
  transform: skew(28deg);
  filter: blur(1px);
  translate: -397% -397%;
}
.particles:hover .particles__parts > *:nth-child(26):nth-child(2n + 2) {
  translate: 397% -397%;
}
.particles:hover .particles__parts > *:nth-child(26):nth-child(3n + 3) {
  translate: -397% 397%;
}
.particles:hover .particles__parts > *:nth-child(26):nth-child(4n + 4) {
  translate: 397% 397%;
}
.particles:hover .particles__parts > *:nth-child(27) {
  scale: 0.3;
  rotate: 219deg;
  transform: skew(42deg);
  filter: blur(1.5px);
  translate: -321% -321%;
}
.particles:hover .particles__parts > *:nth-child(27):nth-child(2n + 2) {
  translate: 321% -321%;
}
.particles:hover .particles__parts > *:nth-child(27):nth-child(3n + 3) {
  translate: -321% 321%;
}
.particles:hover .particles__parts > *:nth-child(27):nth-child(4n + 4) {
  translate: 321% 321%;
}
.particles:hover .particles__parts > *:nth-child(28) {
  scale: 0.3;
  rotate: 0deg;
  transform: skew(55deg);
  filter: blur(1px);
  translate: -593% -593%;
}
.particles:hover .particles__parts > *:nth-child(28):nth-child(2n + 2) {
  translate: 593% -593%;
}
.particles:hover .particles__parts > *:nth-child(28):nth-child(3n + 3) {
  translate: -593% 593%;
}
.particles:hover .particles__parts > *:nth-child(28):nth-child(4n + 4) {
  translate: 593% 593%;
}
.particles:hover .particles__parts > *:nth-child(29) {
  scale: 0.4;
  rotate: -216deg;
  transform: skew(29deg);
  filter: blur(0.5px);
  translate: -423% -423%;
}
.particles:hover .particles__parts > *:nth-child(29):nth-child(2n + 2) {
  translate: 423% -423%;
}
.particles:hover .particles__parts > *:nth-child(29):nth-child(3n + 3) {
  translate: -423% 423%;
}
.particles:hover .particles__parts > *:nth-child(29):nth-child(4n + 4) {
  translate: 423% 423%;
}
.particles:hover .particles__parts > *:nth-child(30) {
  scale: 1;
  rotate: 0deg;
  transform: skew(21deg);
  filter: blur(1px);
  translate: -647% -647%;
}
.particles:hover .particles__parts > *:nth-child(30):nth-child(2n + 2) {
  translate: 647% -647%;
}
.particles:hover .particles__parts > *:nth-child(30):nth-child(3n + 3) {
  translate: -647% 647%;
}
.particles:hover .particles__parts > *:nth-child(30):nth-child(4n + 4) {
  translate: 647% 647%;
}
.particles:hover .particles__parts > *:nth-child(31) {
  scale: 0.7;
  rotate: 95deg;
  transform: skew(57deg);
  filter: blur(1px);
  translate: -717% -717%;
}
.particles:hover .particles__parts > *:nth-child(31):nth-child(2n + 2) {
  translate: 717% -717%;
}
.particles:hover .particles__parts > *:nth-child(31):nth-child(3n + 3) {
  translate: -717% 717%;
}
.particles:hover .particles__parts > *:nth-child(31):nth-child(4n + 4) {
  translate: 717% 717%;
}
.particles:hover .particles__parts > *:nth-child(32) {
  scale: 0.3;
  rotate: -312deg;
  transform: skew(15deg);
  filter: blur(1.5px);
  translate: -235% -235%;
}
.particles:hover .particles__parts > *:nth-child(32):nth-child(2n + 2) {
  translate: 235% -235%;
}
.particles:hover .particles__parts > *:nth-child(32):nth-child(3n + 3) {
  translate: -235% 235%;
}
.particles:hover .particles__parts > *:nth-child(32):nth-child(4n + 4) {
  translate: 235% 235%;
}
.particles:hover .particles__parts > *:nth-child(33) {
  scale: 0.2;
  rotate: 180deg;
  transform: skew(60deg);
  filter: blur(0.5px);
  translate: -317% -317%;
}
.particles:hover .particles__parts > *:nth-child(33):nth-child(2n + 2) {
  translate: 317% -317%;
}
.particles:hover .particles__parts > *:nth-child(33):nth-child(3n + 3) {
  translate: -317% 317%;
}
.particles:hover .particles__parts > *:nth-child(33):nth-child(4n + 4) {
  translate: 317% 317%;
}
.particles:hover .particles__parts > *:nth-child(34) {
  scale: 0.6;
  rotate: -163deg;
  transform: skew(24deg);
  filter: blur(0.5px);
  translate: -1063% -1063%;
}
.particles:hover .particles__parts > *:nth-child(34):nth-child(2n + 2) {
  translate: 1063% -1063%;
}
.particles:hover .particles__parts > *:nth-child(34):nth-child(3n + 3) {
  translate: -1063% 1063%;
}
.particles:hover .particles__parts > *:nth-child(34):nth-child(4n + 4) {
  translate: 1063% 1063%;
}
.particles:hover .particles__parts > *:nth-child(35) {
  scale: 0.3;
  rotate: -144deg;
  transform: skew(20deg);
  filter: blur(1.5px);
  translate: -1029% -1029%;
}
.particles:hover .particles__parts > *:nth-child(35):nth-child(2n + 2) {
  translate: 1029% -1029%;
}
.particles:hover .particles__parts > *:nth-child(35):nth-child(3n + 3) {
  translate: -1029% 1029%;
}
.particles:hover .particles__parts > *:nth-child(35):nth-child(4n + 4) {
  translate: 1029% 1029%;
}
.particles:hover .particles__parts > *:nth-child(36) {
  scale: 0.6;
  rotate: 382deg;
  transform: skew(61deg);
  filter: blur(0.5px);
  translate: -333% -333%;
}
.particles:hover .particles__parts > *:nth-child(36):nth-child(2n + 2) {
  translate: 333% -333%;
}
.particles:hover .particles__parts > *:nth-child(36):nth-child(3n + 3) {
  translate: -333% 333%;
}
.particles:hover .particles__parts > *:nth-child(36):nth-child(4n + 4) {
  translate: 333% 333%;
}
.particles:hover .particles__parts > *:nth-child(37) {
  scale: 0.9;
  rotate: 212deg;
  transform: skew(29deg);
  filter: blur(1.5px);
  translate: -305% -305%;
}
.particles:hover .particles__parts > *:nth-child(37):nth-child(2n + 2) {
  translate: 305% -305%;
}
.particles:hover .particles__parts > *:nth-child(37):nth-child(3n + 3) {
  translate: -305% 305%;
}
.particles:hover .particles__parts > *:nth-child(37):nth-child(4n + 4) {
  translate: 305% 305%;
}
.particles:hover .particles__parts > *:nth-child(38) {
  scale: 0.7;
  rotate: 0deg;
  transform: skew(11deg);
  filter: blur(0.5px);
  translate: -689% -689%;
}
.particles:hover .particles__parts > *:nth-child(38):nth-child(2n + 2) {
  translate: 689% -689%;
}
.particles:hover .particles__parts > *:nth-child(38):nth-child(3n + 3) {
  translate: -689% 689%;
}
.particles:hover .particles__parts > *:nth-child(38):nth-child(4n + 4) {
  translate: 689% 689%;
}
.particles:hover .particles__parts > *:nth-child(39) {
  scale: 0.4;
  rotate: 0deg;
  transform: skew(22deg);
  filter: blur(0.5px);
  translate: -270% -270%;
}
.particles:hover .particles__parts > *:nth-child(39):nth-child(2n + 2) {
  translate: 270% -270%;
}
.particles:hover .particles__parts > *:nth-child(39):nth-child(3n + 3) {
  translate: -270% 270%;
}
.particles:hover .particles__parts > *:nth-child(39):nth-child(4n + 4) {
  translate: 270% 270%;
}
.particles:hover .particles__parts > *:nth-child(40) {
  scale: 0.8;
  rotate: -87deg;
  transform: skew(29deg);
  filter: blur(1px);
  translate: -906% -906%;
}
.particles:hover .particles__parts > *:nth-child(40):nth-child(2n + 2) {
  translate: 906% -906%;
}
.particles:hover .particles__parts > *:nth-child(40):nth-child(3n + 3) {
  translate: -906% 906%;
}
.particles:hover .particles__parts > *:nth-child(40):nth-child(4n + 4) {
  translate: 906% 906%;
}
.particles:hover .particles__parts > *:nth-child(41) {
  scale: 0.4;
  rotate: 205deg;
  transform: skew(64deg);
  filter: blur(1px);
  translate: -366% -366%;
}
.particles:hover .particles__parts > *:nth-child(41):nth-child(2n + 2) {
  translate: 366% -366%;
}
.particles:hover .particles__parts > *:nth-child(41):nth-child(3n + 3) {
  translate: -366% 366%;
}
.particles:hover .particles__parts > *:nth-child(41):nth-child(4n + 4) {
  translate: 366% 366%;
}
.particles:hover .particles__parts > *:nth-child(42) {
  scale: 0.4;
  rotate: -220deg;
  transform: skew(23deg);
  filter: blur(0.5px);
  translate: -299% -299%;
}
.particles:hover .particles__parts > *:nth-child(42):nth-child(2n + 2) {
  translate: 299% -299%;
}
.particles:hover .particles__parts > *:nth-child(42):nth-child(3n + 3) {
  translate: -299% 299%;
}
.particles:hover .particles__parts > *:nth-child(42):nth-child(4n + 4) {
  translate: 299% 299%;
}
.particles:hover .particles__parts > *:nth-child(43) {
  scale: 0.6;
  rotate: 0deg;
  transform: skew(49deg);
  filter: blur(1px);
  translate: -1025% -1025%;
}
.particles:hover .particles__parts > *:nth-child(43):nth-child(2n + 2) {
  translate: 1025% -1025%;
}
.particles:hover .particles__parts > *:nth-child(43):nth-child(3n + 3) {
  translate: -1025% 1025%;
}
.particles:hover .particles__parts > *:nth-child(43):nth-child(4n + 4) {
  translate: 1025% 1025%;
}
.particles:hover .particles__parts > *:nth-child(44) {
  scale: 0.4;
  rotate: 0deg;
  transform: skew(53deg);
  filter: blur(0.5px);
  translate: -773% -773%;
}
.particles:hover .particles__parts > *:nth-child(44):nth-child(2n + 2) {
  translate: 773% -773%;
}
.particles:hover .particles__parts > *:nth-child(44):nth-child(3n + 3) {
  translate: -773% 773%;
}
.particles:hover .particles__parts > *:nth-child(44):nth-child(4n + 4) {
  translate: 773% 773%;
}
.particles:hover .particles__parts > *:nth-child(45) {
  scale: 0.3;
  rotate: 270deg;
  transform: skew(24deg);
  filter: blur(1px);
  translate: -187% -187%;
}
.particles:hover .particles__parts > *:nth-child(45):nth-child(2n + 2) {
  translate: 187% -187%;
}
.particles:hover .particles__parts > *:nth-child(45):nth-child(3n + 3) {
  translate: -187% 187%;
}
.particles:hover .particles__parts > *:nth-child(45):nth-child(4n + 4) {
  translate: 187% 187%;
}
.particles:hover .particles__parts > *:nth-child(46) {
  scale: 0.1;
  rotate: -410deg;
  transform: skew(37deg);
  filter: blur(1px);
  translate: -755% -755%;
}
.particles:hover .particles__parts > *:nth-child(46):nth-child(2n + 2) {
  translate: 755% -755%;
}
.particles:hover .particles__parts > *:nth-child(46):nth-child(3n + 3) {
  translate: -755% 755%;
}
.particles:hover .particles__parts > *:nth-child(46):nth-child(4n + 4) {
  translate: 755% 755%;
}
.particles:hover .particles__parts > *:nth-child(47) {
  scale: 0.3;
  rotate: -267deg;
  transform: skew(27deg);
  filter: blur(0.5px);
  translate: -447% -447%;
}
.particles:hover .particles__parts > *:nth-child(47):nth-child(2n + 2) {
  translate: 447% -447%;
}
.particles:hover .particles__parts > *:nth-child(47):nth-child(3n + 3) {
  translate: -447% 447%;
}
.particles:hover .particles__parts > *:nth-child(47):nth-child(4n + 4) {
  translate: 447% 447%;
}
.particles:hover .particles__parts > *:nth-child(48) {
  scale: 0.6;
  rotate: 0deg;
  transform: skew(32deg);
  filter: blur(1px);
  translate: -941% -941%;
}
.particles:hover .particles__parts > *:nth-child(48):nth-child(2n + 2) {
  translate: 941% -941%;
}
.particles:hover .particles__parts > *:nth-child(48):nth-child(3n + 3) {
  translate: -941% 941%;
}
.particles:hover .particles__parts > *:nth-child(48):nth-child(4n + 4) {
  translate: 941% 941%;
}
.particles:hover .particles__parts > *:nth-child(49) {
  scale: 0.9;
  rotate: 0deg;
  transform: skew(57deg);
  filter: blur(0.5px);
  translate: -376% -376%;
}
.particles:hover .particles__parts > *:nth-child(49):nth-child(2n + 2) {
  translate: 376% -376%;
}
.particles:hover .particles__parts > *:nth-child(49):nth-child(3n + 3) {
  translate: -376% 376%;
}
.particles:hover .particles__parts > *:nth-child(49):nth-child(4n + 4) {
  translate: 376% 376%;
}
.particles:hover .particles__parts > *:nth-child(50) {
  scale: 0.4;
  rotate: 440deg;
  transform: skew(11deg);
  filter: blur(0.5px);
  translate: -331% -331%;
}
.particles:hover .particles__parts > *:nth-child(50):nth-child(2n + 2) {
  translate: 331% -331%;
}
.particles:hover .particles__parts > *:nth-child(50):nth-child(3n + 3) {
  translate: -331% 331%;
}
.particles:hover .particles__parts > *:nth-child(50):nth-child(4n + 4) {
  translate: 331% 331%;
}
.example-button-styling {
  width: 100%;
  padding: 15px 20px;
  margin: 5px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0;
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 7px;
  color: var(--spot);
  background: none;
  cursor: none;
}
@media only screen and (min-width: 780px) {
  .example-button-styling {
    width: auto;
    /* margin: 20px; */
    font-size: 20px;
 }
}
.example-button-styling:hover {
  color: var(--grey);
}

.page3 .resumeBtn{
  position: absolute;
  bottom: 6vw;
  left: 4.5vw;
  margin: 0;
  padding: 0;
  width: fit-content;
  /* background-color: red; */
  z-index: 10;
}